In [16]:
import requests
import os
import datetime
import json
import pandas as pd

In [17]:
#NYC_API_KEY = os.getenv("NYC_API_KEY")
#NYC_SECRET_API_KEY = os.getenv("NYC_SECRET_API_KEY")
#type(NYC_API_KEY)

In [23]:
url_1='https://data.cityofnewyork.us/resource/yjxr-fw8i.json'
response_data_1 = requests.get(url_1)
response_content_1 = response_data_1.content
df_1=pd.read_json(response_content_1)
df_1.head()

,avland,avland2,avtot,avtot2,bble,bin,blddepth,bldfront,bldgcl,block,...,ltfront,nta,owner,period,staddr,stories,taxclass,valtype,year,zip
0,104445450,104445450.0,166042350,157532850.0,1000010010,1086389.0,0,0,Y4,1,...,177,park-cemetery-etc-Manhattan,GOVERNORS ISLAND CORP,FINAL,1 GOVERNORS ISLAND,NaN,4,AC-TR,2018/19,10004.0
1,4225950,4225950.0,13574700,12148920.0,1000010101,1090092.0,0,0,P7,1,...,500,park-cemetery-etc-Manhattan,U S GOVT LAND & BLDGS,FINAL,1 LIBERTY ISLAND,NaN,4,AC-TR,2018/19,10004.0
2,14972400,14972400.0,115055100,107838180.0,1000010201,1089253.0,0,0,Z9,1,...,63,park-cemetery-etc-Manhattan,U S GOVT LAND & BLDGS,FINAL,1 ELLIS ISLAND,NaN,4,AC-TR,2018/19,10004.0
3,0,NaN,0,NaN,1000010301,NaN,0,0,U0,1,...,0,NaN,NaN,FINAL,JOE DIMAGGIO HIGHWAY,NaN,4,AC-TR,2018/19,NaN
4,0,NaN,0,NaN,1000010401,NaN,0,0,U0,1,...,0,NaN,NaN,FINAL,JOE DIMAGGIO HIGHWAY,NaN,4,AC-TR,2018/19,NaN

In [24]:
url_2='https://data.cityofnewyork.us/resource/yjxr-fw8i.json'
response_data_2 = requests.get(url_2)
response_content_2 = response_data_2.content
df_2=pd.read_json(response_content_2)
df_2.head()

,avland,avland2,avtot,avtot2,bble,bin,blddepth,bldfront,bldgcl,block,...,ltfront,nta,owner,period,staddr,stories,taxclass,valtype,year,zip
0,104445450,104445450.0,166042350,157532850.0,1000010010,1086389.0,0,0,Y4,1,...,177,park-cemetery-etc-Manhattan,GOVERNORS ISLAND CORP,FINAL,1 GOVERNORS ISLAND,NaN,4,AC-TR,2018/19,10004.0
1,4225950,4225950.0,13574700,12148920.0,1000010101,1090092.0,0,0,P7,1,...,500,park-cemetery-etc-Manhattan,U S GOVT LAND & BLDGS,FINAL,1 LIBERTY ISLAND,NaN,4,AC-TR,2018/19,10004.0
2,14972400,14972400.0,115055100,107838180.0,1000010201,1089253.0,0,0,Z9,1,...,63,park-cemetery-etc-Manhattan,U S GOVT LAND & BLDGS,FINAL,1 ELLIS ISLAND,NaN,4,AC-TR,2018/19,10004.0
3,0,NaN,0,NaN,1000010301,NaN,0,0,U0,1,...,0,NaN,NaN,FINAL,JOE DIMAGGIO HIGHWAY,NaN,4,AC-TR,2018/19,NaN
4,0,NaN,0,NaN,1000010401,NaN,0,0,U0,1,...,0,NaN,NaN,FINAL,JOE DIMAGGIO HIGHWAY,NaN,4,AC-TR,2018/19,NaN